* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#headerLogo {
    width: 100px;
}

#headerName {
    padding: 10px 20px;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
}
